.join{
    display: flex;
    gap: 10rem;
    padding: 0 2rem;
}
.left-j{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;

}
left-j>div{
    display: flex;
    gap: 1rem;
}
left-j>hr{
    width: 10px;
    position: absolute;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -10 0;
}
.right-j{
    display: flex;
    align-items: flex-end;
    justify-content:center;
}
.right-j>.email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
}
.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgrayz);
}
::placeholder{
    color: var(--lightgray);
}
.btn-j{
    background-color: var(--orange);
}
@media screen and (max-width: 768px) {
    .join{
        flex-direction: column;
        gap: 1rem;
    }
    .left-j{
        font-size:x-large;
        flex-direction: column;
    }
    .right-j{
        padding: 2rem;
    }


    
}
